p{
	font-family: cursive;
}
img{
	width: 10%;
	height: 10%;
	margin-top: 10px;
}
#title{
	float: right;
	font-size: 30px;
	font-weight: bold;
	color: silver;
}
#rental{
	display:none;
}
hr{
	width: 5000px;
}